<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Top Up
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="nfcId" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row *ngIf="!nfcId" class="ion-align-items-center" style="height: 100%;">
    <ion-col>
      <div class="ion-text-center">Scan NFC tag to start</div>
    </ion-col>
  </ion-row>

  <div *ngIf="nfcId">
    <div *ngIf="user$ | async as userVm">
      <ion-grid *ngIf="userVm.user as user">
        <ion-row class="ion-justify-content-between">
          <ion-col size="6">USER:<br>{{ user.name }} {{ user.surname }}</ion-col>
          <ion-col class="ion-text-right">BALANCE:<br>{{user.balance.toFixed(2)}} €</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item>
      <ion-label position="stacked">Top UP Amount</ion-label>
      <ion-input type="number" [(ngModel)]="topUpAmount"></ion-input>
    </ion-item>
    <ion-button size="large" expand="full" (click)="topUp()">Top Up</ion-button>

  </div>
</ion-content>