<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Management
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Users</ion-label>
      <ion-button id="open-modal">Add User</ion-button>
    </ion-list-header>
    <div *ngIf="usersData$ | async as usersVm">
      <ion-item *ngFor="let user of usersVm.users">
        <ion-label>{{ user.name }} {{ user.surname }} | {{user.nfcId}} | {{user.balance}}</ion-label>
      </ion-item>
    </div>
  </ion-list>


  <!-- <ion-button (click)="getUsersData()">Get Data</ion-button> -->

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" (willPresent)="willPresent($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add new user</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div *ngIf="nfcId">
          <ion-item>
            <ion-label position="stacked">NFC ID</ion-label>
            <ion-input type="text" [(ngModel)]="nfcId" disabled="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input type="text"  [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Surname</ion-label>
            <ion-input type="text" [(ngModel)]="surname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-input type="text" [(ngModel)]="description"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Top UP Amount</ion-label>
            <ion-input type="number"  [(ngModel)]="balance"></ion-input>
          </ion-item>
        </div>
        <ion-row *ngIf="!nfcId" class="ion-align-items-center" style="height: 100%;">
          <ion-col>
            <div class="ion-text-center">Scan NFC tag to add a new user</div>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>